/* Background color to separate the two blocks - header and main */

header {
  background-color: rgb(169, 200, 218);
}

main {
  background-color: rgb(191, 225, 226);
}

/* body */
body {
  box-sizing: border-box;
  background-color: rgb(237, 243, 243);
  color: #0f161f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  margin: 0 auto;
}

/* header */

.container header {
  padding: 2em 0;
  height: 100%;
  text-align: center;
  position: relative;
}

.container header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 2em 0;
}

.container header h1 {
  line-height: 1em;
  font-size: 20px;
}

.container header p {
  font-size: 14px;
}

.container header nav {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
}
.container header nav a {
  padding: 0.5em 0;
  width: 100%;
  background-color: rgb(96, 117, 207);
  margin-bottom: 0.3em;
  text-decoration: none;
  color: rgb(9, 9, 10);
  font-weight: 700;
  /* display: none; */
  font-size: 15px;
}

.container header nav.close {
  display: none;
}

.container header nav.open {
  display: flex;
  margin-top: -100px;
}

/* Menu Hamnburger button */

.menu-wrap {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 80px;
  height: 80px;
  opacity: 0;
}

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 40px;
  height: 60px;
  padding: 0.1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger > div {
  position: relative;
  width: 100%;
  height: 3.5px;
  background-color: rgb(19, 17, 17);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.hamburger > div:before,
.hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 3.5px;
  background: inherit;
}

.hamburger > div:after {
  top: 10px;
}

.toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

.toggler:checked + .hamburger > div:before,
.toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

.toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

.container header nav a:hover {
  background-color: rgb(61, 57, 116);
  color: #fff;
}

/* main */

.container main article {
  height: 100%;
  text-align: center;
  padding: 3em 2em;
}

#main h1 {
  line-height: 1em;
}

.container main article h2 {
  margin: 0;
  padding: 1em 0;
  text-align: center;
  font-size: 1.3em;
  padding-bottom: 3em;
  line-height: 1.5em;
}

.container main article h2 span {
  display: block;
  /* text-align: left; */
}

.container main article h3 {
  margin: 0;
  font-size: 1.1em;
  padding-bottom: 3em;
}

.container main article p {
  text-align: justify;
  word-break: break-word;
  font-size: 1.1em;
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 2em;
}

.image {
  width: 120px;
  height: 120px;
  float: right;
  text-align: right;
}
.image img {
  width: 100px;
  height: 100px;
  /* border-radius: 50%; */

  padding-left: 0.6em;
}

.container main article section .praxis {
  padding: 1em 0;
  max-width: 500px;
}

.container footer {
  text-align: center;
  padding: 2em 0;
}

/* Slider for the praxis */

.slider {
  /* line them up horizontally */
  display: flex;

  /* allow for scrolling */
  overflow-x: auto;

  /* make it smooth on iOS */
  -webkit-overflow-scrolling: touch;
  margin-bottom: 3em;
}

/* ... */

/* each slide snaps into place */
.slider {
  scroll-snap-points-x: repeat(250px);
  scroll-snap-type: mandatory;
}

.slider > div {
  /* make sure the width is honored */
  flex-shrink: 0;
  width: 300px;
  height: 300px;
}

.slider div img {
  width: 250px;
  height: 250px;
  margin-right: 0.2em;
}

footer {
  background-color: rgb(169, 200, 218);
}

/* Adding media queries */

@media only screen and (min-width: 480px) and (max-width: 765px) {
  .container {
    max-width: 780px;
  }

  /* #main {
    width: 500px;
  } */

  /* .container main article {
    text-align: center;
  } */
  .container main article h2 span {
    display: inline;
  }

  .container main article h2 {
    font-size: 1.55em;
    text-align: center;
  }

  .container main article h3 {
    margin: 0;
    font-size: 1.3em;
    padding-bottom: 3em;
  }

  .image img {
    width: 150px;
    height: 150px;
    padding-left: 1em;

    border-radius: 0;
  }

  .image {
    width: 160px;
    height: 160px;
    float: right;
    padding: 0 1em 0;
  }

  .slider > div {
    /* make sure the width is honored */
    flex-shrink: 0;
    width: 100%;
    height: 90%;
    max-width: 765px;
    padding-bottom: 2em;
  }
  .slider div img {
    width: 75%;
    height: 75%;
    margin-right: 0.2em;
  }
}

@media only screen and (min-width: 766px) {
  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-auto-rows: minmax(100%, auto);
    position: relative;
    height: 100vh;
    max-width: 1170px;
  }

  #header {
    grid-column: 1 / 4;
    grid-row: 1 /9;
    /* grid-auto-rows: minmax(70%, auto); */
    border-right: 1px #39434f solid;
  }

  footer {
    border-right: 1px #39434f solid;
  }

  #main h2 {
    font-size: 2em;
  }

  #main h3 {
    font-size: 1.5em;
  }

  #main article {
    max-width: 700px;
    margin: 0 auto;
  }

  #main .image {
    width: 160px;
    height: 160px;
    float: right;
    padding-left: 1em;
  }
  #main .image img {
    width: 150px;
    height: 150px;
  }

  #main .praxis {
    width: 400px;
    height: 400px;
    padding-bottom: 3em;
  }
  .container .menu-wrap {
    display: none !important;
  }

  .container header nav.close {
    display: flex;
  }

  #main {
    grid-column: 4/13;
    grid-row: 1/13;

    overflow-y: auto;
    height: 100vh;
  }

  .container footer {
    grid-column: 1 / 4;
    grid-row: 9 / 13;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* grid-auto-rows: minmax(30%, auto); */
  }

  #main h2 {
    font-size: 1.5em;
  }
}
